* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* intro */
h1 {
    margin: 0px auto;
    padding-top: 150px;
    color: white;
    text-shadow: 2px 2px 10px #000000, 0 0 20px black;
    font-family: 'Karma', serif;
    font-size: 48px;
}

h2 {
    margin: 0px;
    color: white;
    text-shadow: 2px 2px 10px #000000, 0 0 20px black;
    font-family: 'Karma', serif;
    font-size: 42px;
}

h3 {
    margin: auto;
    text-align: center;
    font-size: 36px;
    padding-top: 50px;
    font-family: 'Karma', serif;
}

.intro {
    background-image: url(images/mountains.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align:center;
    height: 450px;
}

/* about me */

.about h3 {
    text-align: left;
}

/* portfolio */

.bg-callout {
    background-color: #F2F7F9;
}

/* contact me */
.logo {
    max-width: 200px;
    margin: 10px;
}

.contact {
    margin: auto;
    text-align: center;
}

/* footer */
footer {
    /* border-top: 1px solid black; */
    height: 30px;
    background-color: #e1ecf1;
    border-top: 1px solid slategrey;
}

footer p {
    font-family: 'Karma', serif;
    font-size: 18px;
    font-weight: 600;
    padding-top: 10px;
    padding-left: 5px;
    background-color: #e1ecf1;
}




/* mobile first concept */

img {
    width: 100%;
}

.group {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
    padding: 20px;
}

/* desktop format */

@media all and (min-width: 800px){
    h3 {
        font-size: 48px;
    }
    .group {
        flex-direction: row;
        padding: 30px;
    }

    .item {
        padding: 30px;
    }

    .about {
        margin: auto 100px;
    }
}