* {
    box-sizing: border-box;
}

/* ELEMENTS */

body {
    background-color: white;
}

/* Navbar syle */
nav {
    width: 100%;
    background-color: #3B3561;
}

/* main style */
main {
    text-align: center;
    font-family:'Amatic SC', cursive;
    text-decoration: none;
}

/* main style */
main h1 {   
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    padding-bottom: 0px;
    line-height: 1;
    color: #495D63;
}

/* main style */
main h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    weight: 700;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #3B3561;
}

/* section headings */
h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    margin: 5px auto;
    color: #495D63;
}

/* Navbar syle */
nav a {
    font-family:'Amatic SC', cursive;
    weight: 700;
    font-size: 42px;
    text-decoration: none;
    color: white;
}

/* Navbar syle */
nav a:link, nav a:visited {
    color: white;
}

/* Navbar syle */
nav a:hover, nav a:active{
    text-shadow: 1px 1px;
}

hr {
    max-width: 800px;
    margin: 50px auto;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #3B3561;
    margin: auto;
    padding-bottom: 5px;
}

/* about me list style */
ol li {
    list-style-position: inside;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #3B3561;
    margin-bottom: 5px;
}

/* about me list paragraph style */
ol li p {
   display: inline;
}


/* footer styling */
footer {
    border-top: 1px solid black;
    height: 50px;
    background-color: #3B3561;
}

/* footer styling */
footer p {
    font-family:'Amatic SC', cursive;
    color: white;
    font-size: 28px;
    margin: 5px 10px;
    float: left;
}

/* CLASSES */

/* navbar style */
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* navbar style */
.left-side-link {
    float: left;
    padding-left: 20px;
}

/* navbar style */
.right-side-link {
    float: right;
    padding-right: 20px;
}

/* portrait photo style */
.portrait {
    max-width: 500px;
    border-radius: 50%;
    margin: 20px;
}

.about-list {
    max-width: 800px;
    margin: auto;
}

/* about me photos section syle */
.photos {
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
}

/* about me photos syle */
.hobbies {
    max-width: 200px;
}

/* portfolio section style */
.portfolio {
    margin-bottom: 60px;
}

/* portfolio images style */
.portfolio img {
    max-width: 700px;
    display: block;
    margin: 10px auto;
}

/* contact me logos syle */
.logo {
    max-width: 100px;
    margin: 10px;
}

